__pycache__/classHeader.cpython-38.pyc
__pycache__/classOrientacao.cpython-38.pyc
__pycache__/classPONTO.cpython-38.pyc
__pycache__/classPose.cpython-38.pyc
__pycache__/classPoseWithHeader.cpython-38.pyc
__pycache__/classTemperatura.cpython-38.pyc
__pycache__/classTemperatureWithHeader.cpython-38.pyc
__pycache__/classTempo.cpython-38.pyc
__pycache__/classTrajetoria.cpython-38.pyc
